<div>
    <div class="row" style="justify-content: center; margin-top: 1%;">
        <div class="col-md-4">
            <button class="form-control btn btn-outline-danger" (click)='GenerateError()'>Generate error</button>
        </div>
    </div>

    <div class="row" style="margin-top: 2%;">
            <div class="col-md-3">
                <img src="../assets/errorservice.png">
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-3">
                <img src="../assets/globalerror.png">
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-12">
                <footer>
                    <p >In this demo we are handling global error by making a service of which implement ErrorHandler 
                     class and we provider for that token in module.ts.</p>
                  </footer>
            </div>
        </div>
</div>