<hr>
<h1>My Angular Learnings</h1>
<br>
<div class="row">
    
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <br>
        <strong>1. </strong> <label routerLink="/data-binding"> Binding </label>
        <br><br>
        <strong>2. </strong>  <label routerLink="/product"> Structural Directive </label>
        <br><br>
        <strong>3. </strong> <label routerLink="/master-detail"> Component Communication </label>
        <br><br>
        <strong>4. </strong> <label routerLink="/data-sharing"> Share Data b/w unrelated Components with Service </label>
        <br><br>
        <strong>5. </strong> <label routerLink="/global-errorhandler"> Global Error Handler </label>
        <br><br>
        <strong>6. </strong> <label routerLink="/attribute-directive"> Attribute Directive </label>
        <br><br>
        <strong>7. </strong> <label routerLink="/login"> LogIn </label>
    </div>
</div>