<table class="w-full">
    <thead class="shadow-md cst-p">
        <th >ID</th>
        <th >Name</th>
        <th >Price</th>
        <th >Quantity</th>
        <th >In Stock</th>
        <th >Expiry Date</th>
    </thead>
    <tbody class="cst-p">
        <tr *ngFor="let product of products | async">
            <td >{{product.id}}</td>
            <td ><button [routerLink]="'./product/'+product.id">{{product.title}}</button></td>
            <td >{{product.price}}</td>
            <td >{{product.quantity}}</td>
            <td >{{product.inStock}}</td>
            <td >{{product.expiryDate | date}}</td>
        </tr>
    </tbody>
</table>