<div class="row">
    <div class="col-md-12">
        <mat-accordion >
            <mat-expansion-panel *ngFor="let p of purchaseList" (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>{{p.PurchaseID}}</h2>
                    </mat-panel-title>
                    <mat-panel-description>
                        <h2 class="text-info">{{p.PurchaseName}}</h2>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-purchase-order [orderDetails]='p'></app-purchase-order>
            </mat-expansion-panel>
        </mat-accordion>

        
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <footer>
        <p>In this demo we are having table of purchaser and if we click on that then it show ditails 
            of the items and if we open another id the previous opened detail automatically closed.</p>
        
      </footer>
    </div>
  </div>