<div class="row" style="display: block;">
    <div class="header">
        <h1>{{data.Title}}</h1>
    </div>
    <div>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th class='value-center'>
                        ID
                    </th>
                    <th class='value-center'>
                        Title
                    </th>
                    <th class='value-center'>
                        Price
                    </th>
                    <th class='value-center'>
                        Expiry Date
                    </th>
                    <th class='value-center'>
                        Quantity
                    </th>
                    <th class='value-center'>
                        In Stock
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class='value-center'>{{data.ID}}</td>
                    <td class='value-center'>{{data.Title}}</td>
                    <td class='value-center'>{{data.Price | currency : 'INR'}}</td>
                    <td class='value-center'>{{data.ExpiryDate | date}}</td>
                    <td class='value-center'>{{data.Quantity}}</td>
                    <td class='value-center'><ng-container *ngIf="data.InStock; then instock else outofstock">
                    </ng-container>
                     
                    <ng-template #instock>
                        <i class="far fa-check-circle check"></i>
                    </ng-template>
                     
                     <ng-template #outofstock>
                        <i class="fas fa-times wrong"></i>
                      </ng-template>
                </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>