<div class="row" style="margin-top: 4%;">
    <div class="col-md-6">
      <div class="card" style="width: 34rem;">
        <img src="https://miro.medium.com/max/5524/1*ReV9ub5JWLqKXhGoJiYtUg.png" class="card-img-top" alt="..." style="height: 300px;">
        <div class="card-body">
          <h1 class="card-title">Product</h1>
          <p class="card-text">Feature to add, delete, search and listing of products.</p>
          <a routerLink="/product" class="btn btn-primary">Go Here!</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="width: 34rem;">
        <img src="https://image.freepik.com/free-vector/file-searching-concept-illustration_23-2148277021.jpg" style="height: 300px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Category</h1>
          <p class="card-text">Feature to add, delete, search and listing of products.</p>
          <a routerLink="/category" class="btn btn-primary">Go Here!</a>
        </div>
      </div>
    </div>
  </div>