<div class="row" >
    <div class="col-md-6">
        <app-child1></app-child1>
    </div>
    
    <div class="col-md-6">
        <app-child2></app-child2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <footer>
            <p>
                In this demo, the data from one component to other unrelated component is passed using Angular Service. The details of the product are inputed or editted by the user in one Component and this value is passed to the other Componenttable and display result.
            </p>
        </footer>
        
    </div>
</div>