<div class="row">
    <div class="col-md-12">
        <form (ngSubmit)='login()' [formGroup]='loginForm' novalidate class="form"> 
            <input formControlName='email' type="text" class="form-control" placeholder="Enter Email">
            <div class="alert alert-danger" *ngIf="loginForm?.get('email')?.hasError('required') && loginForm?.get('email')?.touched">Email is required</div>
            <input formControlName='password' type="password" class="form-control" placeholder="Enter Password">
            <div class="alert alert-danger" *ngIf="!loginForm?.get('password')?.valid && loginForm?.get('password')?.touched">Password is required and should be less than 5 characters</div>
            <input formControlName='age' type="number" class="form-control" placeholder="Enter Age">
            <div class="alert alert-danger" *ngIf="loginForm?.get('age')?.dirty && loginForm?.get('age')?.errors && loginForm?.get('age')?.errors?.ageRange">Age should be in between {{min}} and {{max}} years</div>
            <input formControlName='phonenumber' type="number" class="form-control" placeholder="Phone Number">
            <div class="alert alert-danger" *ngIf="loginForm?.get('phonenumber')?.hasError('required') && loginForm?.get('phonenumber')?.touched">Phone Number is required</div>
            <br/>
            <label class="control-label">Send Notification</label>
            <br/>
            <label class="radio-inline">
                <input type="radio" formControlName='notification' value='email'> Email
            </label>
            <label class="radio-inline">
                <input type="radio" formControlName='notification' value='phone'> Phone
            </label>
            <button type="submit" [disabled]="loginForm.invalid" class="btn btn-danger">Login</button>
            <button type="reset" (click)="cancel()" class="btn btn-info">Reset</button>
        </form>
    </div>
</div>