<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
      <input type="number" class ="form-control" [(ngModel)]='height'>
    </div>
    <div class="col-md-4">
      <input type="number" [(ngModel)]='width' class ="form-control">
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div>
    <div class="row" style="justify-content: center;">

      <div class="img-container"  >
        <img [src]='imgSource' [style.height.px]='height' [style.width.px]='width' (mouseenter)='changeTshirtMouseEnter()' (mouseleave)='changeTshirtMouseExit()'>
      </div>
    </div>
    <div class="col-md-4">
      <button class="form-control btn btn-outline-danger" (click)='GenerateError()' >Generate error</button>
    </div>
  </div>