<div class="container" >
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Deep</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink='/data-binding'>Data Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink='/product'>Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/master-detail'>Master Detail</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/data-sharing'>Data Sharing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/attribute-directive'>Attribute Directive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/global-errorhandler'>Global Error Handler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/login'>Login Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/rxjs'>RxJS</a>
        </li>
      </ul>
    </div>
  </nav>  
  <div class="row" >
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
  </div>
</div>