<div class="container">
  <div class="header" style="text-align: center; padding: 3%;">
    <h1>{{title}}</h1>
  </div>

  <div class="row" style="padding: 2%;">
    
    <div class="col-md-4">
      <button class="form-control btn btn-outline-danger" (click)='DataBindingDemo()'>Data Binding Demo</button>
    </div>
    <div class="col-md-4">
      <button class="form-control btn btn-outline-warning cs-hover" (click)='ShowDirectiveDemo()' >Show Directive Demo</button>
    </div>
    <div class="col-md-4">
      <button class="form-control btn btn-outline-info cs-hover" (click)='ShowPurchaseOrder()'>Master Details</button>
    </div>
  </div>

  <div class="row" >
  <div class="col-md-12">
    <app-t-shirt-data-binding *ngIf='showDataBinding'></app-t-shirt-data-binding>
    <app-products *ngIf='showDirective'></app-products>
    <app-purchase *ngIf='showOrder'></app-purchase>
  </div>
  </div>
</div>