<div class="row">
    <div class="col-md-12">
        <div class="sidebar">
            <a routerLink='./addcategory'><i class="far fa-plus-square"></i><span>Add a category</span></a>
            <a routerLink='./listofcategories'><i class="fas fa-list-ul"></i><span>List all categories</span></a>
            <a routerLink='./deletecategory'><i class="far fa-trash-alt"></i><span>Delete a category</span></a>
            <a routerLink='./searchcategory'><i class="fas fa-search"></i><span>Search a category</span></a>
        </div>
        
        <router-outlet></router-outlet>
    </div>
</div>
